.typewriter h2 {
  max-width: min-content;
  float: left;
  overflow: hidden;
  border-right: 0.15em solid #702632;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4.5s steps(40, end), blink-caret 0.75s step-end infinite; }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #702632; } }

.first-section {
  position: relative; }
  .first-section .glare {
    position: absolute;
    width: 23rem;
    height: 23rem;
    opacity: 0.21; }
  .first-section .glare-wine {
    top: 0rem;
    left: 2rem;
    background: radial-gradient(50% 50% at 50% 50%, #702632 0%, rgba(47, 117, 99, 0) 100%); }
  .first-section .glare-black {
    top: 4rem;
    left: 15rem;
    background: radial-gradient(50% 50% at 50% 50%, black 0%, rgba(47, 117, 99, 0) 100%); }

.section-heading {
  color: #000000;
  width: fit-content;
  align-self: center;
  position: relative;
  margin-bottom: 1.5rem; }
  .section-heading:after {
    position: absolute;
    content: "";
    height: 0.3rem;
    bottom: -0.4rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 60%;
    background: #702632; }

.alert {
  color: red; }

header .bg-light {
  background-color: #ffffff !important; }

.navbar-expand-lg .navbar-collapse {
  justify-content: end; }

.navbar .container-fluid {
  padding: 0rem 9rem; }

.nav-item {
  font: 500 2rem "Poppins", sans-serif; }

.nav-link:focus {
  color: #702632 !important; }

.nav-link.active {
  color: #702632 !important; }

.navbar-nav .nav-link {
  font-size: 1.8rem; }

.navbar-nav {
  gap: 2rem; }

.navbar-expand-lg .navbar-collapse {
  display: flex; }

.form-control:focus {
  border-color: #702632 !important;
  box-shadow: none !important; }

label {
  font-size: 1.6rem; }

.form-control {
  font-size: 1.4rem !important;
  padding: 0.8rem 0.75rem !important; }

.h1-logo {
  font: 800 2rem/4rem "Syne", sans-serif;
  color: #702632; }

.h1-heading {
  font: 700 4rem/4rem "Syne", sans-serif;
  color: #000000; }

.h2-heading {
  font: 600 2.5rem/3rem "Syne", sans-serif;
  color: #000000; }

.h3-heading {
  font: 600 2rem/2rem "Syne", sans-serif;
  color: #000000; }

h4 {
  font: 600 1.6rem/2rem "Syne", sans-serif; }

.body-text {
  font: 300 1.3rem/2rem "Poppins", sans-serif;
  color: #ffffff; }

.primary-btn {
  font: 600 1.5rem "Poppins", sans-serif;
  padding: 1rem 1.8rem;
  border: 0.1rem solid #702632;
  border-radius: 5rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #702632; }
  .primary-btn:hover {
    background-color: #a7394c;
    border: 0.1rem solid #a7394c; }

.secondary-btn {
  font: 600 1.5rem "Poppins", sans-serif;
  padding: 1rem 1.8rem;
  border: 0.1rem solid #702632;
  border-radius: 5rem;
  cursor: pointer;
  color: #702632;
  background-color: #ffffff; }
  .secondary-btn:hover {
    background-color: #f4f4f6;
    color: #a7394c; }

.navbar-toggler {
  border-color: transparent !important; }
  .navbar-toggler:focus {
    box-shadow: none !important; }

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999; }

.progress-container {
  background-color: transparent;
  height: 0.2rem;
  width: 100%; }

.progress-bar {
  background-color: #702632 !important;
  height: 100%;
  width: 0%; }

footer {
  position: relative;
  width: 100vw;
  height: 10rem;
  background-color: #253034;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    footer ul span {
      color: #c7c7d1;
      font: 400 1.6rem "Poppins", sans-serif;
      letter-spacing: 0.2rem; }
    footer ul a {
      font-size: 2rem;
      cursor: pointer;
      text-decoration: none;
      color: #c7c7d1; }
      footer ul a:hover {
        color: #f4f4f6; }
  footer .copyright-span {
    position: absolute;
    font: 300 1.2rem "Poppins", sans-serif;
    color: #ffffff;
    bottom: 1rem;
    right: 1.5rem; }

.first-section {
  background-color: #f4f4f6;
  width: 100vw;
  height: fit-content;
  display: flex;
  padding: 15rem; }
  .first-section .left-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    .first-section .left-container .btns-wrapper {
      display: flex;
      gap: 1rem; }
      .first-section .left-container .btns-wrapper button {
        z-index: 10; }
  .first-section .right-container {
    width: 40%;
    display: flex;
    justify-content: end; }
    .first-section .right-container .image-wrapper {
      border: 0.4rem solid #702632;
      background-image: url(../../assets/images/img_5521.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      animation: morph 5s ease-in-out infinite;
      height: 30rem;
      transition: all 1s ease-in-out;
      width: 30rem;
      cursor: pointer; }

@keyframes morph {
  0% {
    border-radius: 25rem 18rem 15rem 28rem / 25rem 15rem 28rem 18rem; }
  50% {
    border-radius: 15rem 24rem 28rem 18rem / 20rem 24rem 15rem 24rem; }
  100% {
    border-radius: 24rem 18rem 15rem 28rem / 24rem 15rem 28rem 18rem; } }

.second-section {
  background-color: #ffffff;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 3rem 15rem;
  gap: 1rem; }
  .second-section .about-wrapper {
    display: flex;
    gap: 6rem;
    background-color: #253034;
    border-radius: 1.5rem;
    width: 100%;
    height: 30rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 1rem 2rem #101010; }
    .second-section .about-wrapper .about-right-sub-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 100%; }
      .second-section .about-wrapper .about-right-sub-wrapper img {
        width: 100%;
        height: 100%;
        border-radius: 1.2rem; }
    .second-section .about-wrapper .about-left-sub-wrapper {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem; }
      .second-section .about-wrapper .about-left-sub-wrapper h2 {
        color: #a7394c; }
  .second-section .tech-stack-wrapper {
    height: 50%;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    .second-section .tech-stack-wrapper .tech-stack-heading {
      color: #c7c7d1; }
    .second-section .tech-stack-wrapper .tech-cards-wrapper .tech-card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 10rem;
      height: 10rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 1rem; }
      .second-section .tech-stack-wrapper .tech-cards-wrapper .tech-card img {
        width: 4.5rem;
        height: 4.5rem; }
      .second-section .tech-stack-wrapper .tech-cards-wrapper .tech-card span {
        font: 600 1.6rem "Poppins", sans-serif;
        color: #000000; }

.third-section {
  background-color: #f4f4f6;
  width: 100vw;
  height: fit-content;
  padding: 5rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem; }
  .third-section .project-card-wrapper {
    background-color: #ffffff;
    display: flex;
    gap: 6rem;
    padding: 1rem;
    width: 100%;
    height: 33rem;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
    .third-section .project-card-wrapper .project-description-sub-wrapper {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center; }
      .third-section .project-card-wrapper .project-description-sub-wrapper .project-text {
        color: #c7c7d1;
        text-align: center; }
      .third-section .project-card-wrapper .project-description-sub-wrapper .practiced-skills-wrapper {
        display: flex;
        gap: 0.6rem;
        margin-bottom: 1rem; }
        .third-section .project-card-wrapper .project-description-sub-wrapper .practiced-skills-wrapper .skill-card {
          padding: 0.6rem 0.5rem;
          color: #101010;
          background-color: #ffffff;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          font: 300 1.2rem "Poppins", sans-serif; }
      .third-section .project-card-wrapper .project-description-sub-wrapper .demo-wrapper {
        display: flex;
        gap: 4rem; }
        .third-section .project-card-wrapper .project-description-sub-wrapper .demo-wrapper a {
          text-decoration: none; }
          .third-section .project-card-wrapper .project-description-sub-wrapper .demo-wrapper a span {
            font: 500 1.6rem "Poppins", sans-serif;
            color: #702632; }
    .third-section .project-card-wrapper .project-image-sub-wrapper {
      width: 60%;
      height: 100%;
      border-radius: 1.2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
      .third-section .project-card-wrapper .project-image-sub-wrapper .carousel {
        height: 100% !important; }
        .third-section .project-card-wrapper .project-image-sub-wrapper .carousel .carousel-inner {
          height: 100% !important; }
          .third-section .project-card-wrapper .project-image-sub-wrapper .carousel .carousel-inner .carousel-item {
            height: 100% !important; }
            .third-section .project-card-wrapper .project-image-sub-wrapper .carousel .carousel-inner .carousel-item img {
              height: 100% !important;
              border-radius: 1.2rem; }

.fourth-section {
  width: 100vw;
  height: fit-content;
  padding: 5rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 6rem; }
  .fourth-section .fourth-section-sub-wrapper {
    width: 100%; }
    .fourth-section .fourth-section-sub-wrapper .contact-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 10rem; }
      .fourth-section .fourth-section-sub-wrapper .contact-wrapper .form-wrapper {
        width: 50%; }
      .fourth-section .fourth-section-sub-wrapper .contact-wrapper .vector-illustration-wrapper {
        width: 50%; }
        .fourth-section .fourth-section-sub-wrapper .contact-wrapper .vector-illustration-wrapper img {
          width: 100%;
          height: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

@media screen and (min-width: 1365px) {
  html {
    font-size: 11px; } }

@media screen and (min-width: 1439px) {
  html {
    font-size: 13px; } }

@media screen and (max-width: 1100px) {
  html {
    font-size: 9px; } }

@media screen and (max-width: 990px) {
  html {
    font-size: 8px; } }

@media screen and (max-width: 769px) {
  html {
    font-size: 7px; }
    html .navbar-expand-lg .navbar-collapse {
      justify-content: center !important; }
    html .navbar .container-fluid {
      padding: 0rem 6rem; }
    html .first-section {
      padding: 10rem 2rem;
      flex-direction: column-reverse;
      gap: 6rem; }
      html .first-section .glare-wine {
        top: 30rem;
        left: 0rem; }
      html .first-section .glare-black {
        top: 37rem;
        left: 9rem; }
      html .first-section .left-container {
        width: 100%;
        justify-content: center;
        align-items: center; }
      html .first-section .right-container {
        width: 100%;
        justify-content: center;
        align-items: center; }
    html .second-section {
      padding: 4rem 8rem; }
      html .second-section .about-wrapper {
        flex-direction: column;
        height: fit-content;
        gap: 3rem; }
        html .second-section .about-wrapper .about-right-sub-wrapper {
          width: 60%;
          height: 23rem;
          align-self: center; }
        html .second-section .about-wrapper .about-left-sub-wrapper {
          width: 100%;
          text-align: center; }
      html .second-section .tech-cards-wrapper .row {
        padding-left: 2rem; }
    html .third-section {
      padding: 4rem 8rem; }
      html .third-section .project-card-wrapper {
        flex-direction: column-reverse;
        gap: 4rem;
        height: fit-content; }
        html .third-section .project-card-wrapper .project-description-sub-wrapper {
          width: 100%; }
        html .third-section .project-card-wrapper .project-image-sub-wrapper {
          width: 100%;
          height: 30rem; }
      html .third-section .project-card-wrapper-reversed {
        flex-direction: column; }
    html .fourth-section {
      padding: 4rem 8rem; }
      html .fourth-section .fourth-section-sub-wrapper .contact-wrapper {
        flex-direction: column-reverse;
        gap: 4rem; }
        html .fourth-section .fourth-section-sub-wrapper .contact-wrapper .form-wrapper {
          width: 100%; }
        html .fourth-section .fourth-section-sub-wrapper .contact-wrapper .vector-illustration-wrapper {
          width: 80%;
          justify-self: center;
          align-self: center; } }
