.first-section {
  position: relative;
  .glare {
    position: absolute;
    width: 23rem;
    height: 23rem;
    opacity: 0.21;
  }
  .glare-wine {
    top: 0rem;
    left: 2rem;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(112, 38, 50) 0%,
      rgba(47, 117, 99, 0) 100%
    );
  }
  .glare-black {
    top: 4rem;
    left: 15rem;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(0, 0, 0) 0%,
      rgba(47, 117, 99, 0) 100%
    );
  }
}

.section-heading {
  color: $blacker-color;
  width: fit-content;
  align-self: center;
  position: relative;
  margin-bottom: 1.5rem;
  &:after {
    position: absolute;
    content: "";
    height: 0.3rem;
    bottom: -0.4rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 60%;
    background: $primary-color;
  }
}
.alert {
  color: red;
}
