.h1-logo {
  font: 800 2rem/4rem $main-font;
  color: $primary-color;
}
.h1-heading {
  font: 700 4rem/4rem $main-font;
  color: $blacker-color;
}
.h2-heading {
  font: 600 2.5rem/3rem $main-font;
  color: $blacker-color;
}
.h3-heading {
  font: 600 2rem/2rem $main-font;
  color: $blacker-color;
}
h4 {
  font: 600 1.6rem/2rem $main-font;
}
.body-text {
  font: 300 1.3rem/2rem $secondary-font;
  color: $white-color;
}
