// Color variables:
$primary-color: #702632;
$primary-color-hover: #a7394c;

$black-color: #101010;
$blacker-color: #000000;
$blackish-color: #253034;

$light-gray-color: #c7c7d1;
$lighter-gray-color: #f4f4f6;

$white-color: #ffffff;

// fonts Variables:
$main-font: "Syne", sans-serif;
$secondary-font: "Poppins", sans-serif;
